body,html{
    width: 100%;
    height: 100%;
    margin: 0;

}
.logoName{
    color: white;
    position: relative; 
    text-shadow:0px 3px 2px rgb(255, 255, 255, 0.4);
}
.logoCont.centerRow{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
   
    /* background-color: rgb(255, 255, 255); */
}
.gregImg{
    width: 50vw;
    position: relative;
    height: 100vh;
}

/* @keyframes typing{
    from{width:0}
    to{width:100%;}
}
@keyframes blink-caret{
    from, to{border-color: transparent;}
    50%{border-color: orange;}
} */

/* @keyframes cursor {
    to{
        border-left: 2px solid  #ff7f50;
    }
}
@keyframes words{
    0%,32%{
        content: "passionate";
    }
    33%,65%{
        content: "about";
    }
    66%,100%{
        content: "technology";
    }
}
@keyframes typing {
    10%,15%,30%, 35%, 50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
} */
.logoText{
    font-family: Anton, sans-serif; font-weight: 400; text-transform: uppercase; letter-spacing: 2px;
    width: 50vw;
    position: absolute;
    text-align: center;
    color:"white";
    font-size:1vw;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.textBg{
    width: 50vw;
    position: relative;
    height: 100vh;
}
.logoContImg{
    width: 50vw;
    height: 100vh;
    /* color: rgb(0, 170, 255); */
    position: relative;
}
.animated-text{
    color:white;
    text-shadow:0px 3px 2px rgb(255, 255, 255, 0.4);
}
.orangeGrad{
    background-image:linear-gradient(to right, rgb(255, 136, 0), rgb(233, 85, 0)) ;
}
.fadeRight{
    left: 50%;
    transform: translateX();
}
.logoImg:hover{
    box-shadow: 0px 3px 10px 5px rgba(255, 255, 255, 0.75)

    
    ;
    cursor: pointer;
}
.logoImg{
    border-radius: 50%; 
    height: auto;
    width:20vw;
    position: absolute;
    transition: all 1s;
    right: 0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
#bgImgAbout{
    background-image: url(/assets/images/wave-haikeiabout.svg); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

@media screen and (max-width:600px) {
    .logoName{
        color: white;
        position: relative; 
        text-shadow:0px 3px 2px rgb(255, 255, 255, 0.4);
    }
    .logoCont.centerRow{
        flex-direction: column;
        height: 200vh;
        overflow: hidden;
        justify-content: flex-start;
        align-items: center;
        
    }
    .gregImg {
        margin-top: 20%;
        display: flex;
        justify-content: flex-start;
        height: 50vh;
        overflow: hidden;
    }
    .logoImg{
        width: 50vw;
        height: auto;
    }
    .logoText{

        font-size: medium;
        top:0;
        left:50%;
        transform: translateX(-50%);
    }
    
}


@media screen and (min-width:768px) {
    .logoText{

        font-size: large;
        top:0;
        left:50%;
        transform: translateX(-50%);
    }
    .logoName{
        color: white;
        position: relative; 
        text-shadow:0px 3px 2px rgb(255, 255, 255, 0.4);
    }
    .logoDetails{
        display: inline;color: white;position: relative; font-size: xx-large; position: relative; text-shadow:0px 3px 2px rgb(255, 255, 255, 0.4);
    }
    .logoCont.centerRow{
        flex-direction: column;
        height: 150vh;
        overflow: hidden;
        justify-content: flex-start;
        align-items: center;
       
        
    }
    .logoImg{
        width:30vw;
        height:auto;
    }
    .gregImg {
        margin-top: 10%;
        display: flex;
        justify-content: flex-start;
        height: 60vh;
        overflow: hidden;
    }
}

@media screen and (min-width:992px){
    .logoImg{
        border-radius: 50%; 
        height: auto;
        width:20vw;
        position: absolute;
        right: 0;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        
    }
    .logoCont.centerRow{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        
       
        /* background-color: rgb(255, 255, 255); */
    }
    .logoText{
        font-family: Anton, sans-serif; font-weight: 400; text-transform: uppercase; letter-spacing: 2px;
        width: 50vw;
        position: absolute;
        text-align: center;
        color:"white";
        font-size:1vw;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    .textBg{
        width: 50vw;
        position: relative;
        height: 100vh;
    }
    .logoContImg{
        width: 50vw;
        height: 100vh;
        /* color: rgb(0, 170, 255); */
        position: relative;
    }
    .gregImg{
        width: 50vw;
        position: relative;
        margin-top: 0;
        height: 100vh;
    }

}
/* .logoBgCol{
    position: relative;
    width: 40vw;
    border-radius: 50%;
    height: 40vh;
    background-image: url("/assets/images/computer.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */